<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="film">
  	<select id="queryFilm" resultType="map">
  		<![CDATA[
         select
			film_id,
			film_name,
			film_pic,
			film_year,
			director,
			actors,
			short_comment,
			synopsis,
			douban_rating,
			bt_link,
			sort,
			place,
			date_infor,
			time,
			language,
			label,
			douban_link
		from
			tb_film  ORDER BY film_id DESC  
         ]]>
  	</select>
  	<select id="queryFilmOrderByDoubanDesc" resultType="map">
  		<![CDATA[
         select
			film_id,
			film_name,
			film_pic,
			film_year,
			director,
			actors,
			short_comment,
			synopsis,
			douban_rating,
			bt_link,
			sort,
			place,
			date_infor,
			time,
			language,
			label,
			douban_link
		from
			tb_film  order by douban_rating desc  
         ]]>
  	</select>
  	<select id="queryFilmById"  resultType="map" parameterType="integer">
         <![CDATA[
          select 
          	film_id,
			film_name,
			film_pic,
			film_year,
			director,
			actors,
			short_comment,
			synopsis,
			douban_rating,
			bt_link,
			sort,
			place,
			date_infor,
			time,
			language,
			label,
			douban_link
          from   tb_film   where film_id=#{film_id}   
         ]]>
	</select>
	<!-- 查询电影的总条数-->
  	<select id="queryFilmCount"  resultType="integer" parameterType="integer">
         <![CDATA[
          select count(*) from tb_film   
         ]]>
	</select>
	<!-- 根据豆瓣评分降序排序后的分页查询 -->
  	<select id="queryFilmOrderByDoubanByPage"  resultType="map" parameterType="integer">
         <![CDATA[
          select film_id,
			film_name,
			film_pic,
			film_year,
			director,
			actors,
			short_comment,
			synopsis,
			douban_rating,
			bt_link,
			sort,
			place,
			date_infor,
			time,
			language,
			label,
			douban_link 
 		from tb_film order by douban_rating desc  limit #{page},25   
         ]]>
	</select>
	<!-- 查询每周推荐电影 -->
	<select id="queryRecommendFilm"  resultType="map" >
         <![CDATA[
          select
			film_id,
			film_name,
			film_pic,
			film_year,
			director,
			actors,
			short_comment,
			synopsis,
			douban_rating,
			bt_link,
			sort,
			place,
			date_infor,
			time,
			language,
			label,
			douban_link
		from
			tb_film
		where
			film_id in (
				select
					film_id
				from
					tb_recommend
			)  
         ]]>
	</select>
	<!-- 类似电影推荐（10个） -->
	<select id="querySimilarFilm"  resultType="map" parameterType="map">
         <![CDATA[
          select
			film_id,
			film_name,
			film_pic,
			film_year,
			director,
			actors,
			short_comment,
			synopsis,
			douban_rating,
			bt_link,
			sort,
			place,
			date_infor,
			time,
			language,
			label,
			douban_link
		from
			tb_film
		where
			label like "%${label1}%"
		and label like "%${label2}%"
		order by douban_rating desc
		limit 10 
 
         ]]>
	</select>
  </mapper>